body {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: center;
}
.container {
  display: flex;
  justify-content: center;
}
.img {
  position: absolute;
  z-index: 3;
  visibility: hidden;
}
.canvas_top {
  position: absolute;
  z-index: 5;
}
.canvas_bottom {
  position: absolute;
  z-index: 5;
}
