* {
  padding: 0;
  margin: 0;
}
canvas {
  background: #eee;
  display: block;
  margin: 0 auto;
  border: 1px solid black;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  position: relative;
  top: 20%;
  border: 1px solid #888;
  width: 80%;
  height: 20%;
}
.score_container {
  font-size: 100px;
}
.rank_container {
  font-size: 60px;
}
#btn_container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.btn {
  width: 200px;
  height: 50px;
  font-size: 35px;
}
